/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap') */

:root {
  --propo-font: "Liberation Serif", serif;
  --mono-font: "Ubuntu Mono", monospace;
}

body {
  font-family: var(--propo-font);
  margin: 0; border: 0; padding: 0;
}

div { margin: 0; border: 0; padding: 0 }
div#main {
  box-sizing: border-box;
  width: 100%; min-height: 100vh;
  padding: 2em;
}
div#main-color { text-align: center; }
div#tables {
  font-family: var(--mono-font);
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: flex-start;
}
div#add-buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}
div#format-section {
  text-align: center;
}
div#output-format {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}
div#output {
  font-family: var(--mono-font);
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  white-space: pre;
  margin-top: 1em;
}
div#persist {
  text-align: center;
  margin-top: 1em;
}
div#persist > * { margin: 0 1ex;}

h1 {
  margin-top: 0;
  text-align: center;
}

input, button {
  background-color: #bbb;
  color: #444;
  white-space: pre;
  font-family: var(--mono-font);
  cursor: pointer;
}

td {
  valign: top;
  padding: 1ex;
}
td.label {
  white-space: pre;
  cursor: pointer;
}

td.inputs input:not([type]) { width: 4ex; }
